venv/

zk_cred_logic/experiments/k*

geolocation_logic/IP2LOCATION-LITE-DB5.CSV
geolocation_logic/*.bin
*/__pycache__/
*.pyc

zk_cred_streaming_logic/circomlib/
zk_cred_streaming_logic/*_cpp/
zk_cred_streaming_logic/*_js/
zk_cred_streaming_logic/ecdsa/
zk_cred_streaming_logic/proofs/
zk_cred_streaming_logic/publics/
zk_cred_streaming_logic/witnesses/
zk_cred_streaming_logic/*.sym
zk_cred_streaming_logic/*.r1cs
zk_cred_streaming_logic/*.wasm
zk_cred_streaming_logic/input.json
zk_cred_streaming_logic/verification_key.json
zk_cred_streaming_logic/proof.json
zk_cred_streaming_logic/public.json
zk_cred_streaming_logic/*.wtns
zk_cred_streaming_logic/*.ptau
zk_cred_streaming_logic/*.zkey

zk_cred_logic/circomlib/
zk_cred_logic/*_cpp/
zk_cred_logic/*_js/
zk_cred_logic/ecdsa/
zk_cred_logic/proofs/
zk_cred_logic/publics/
zk_cred_logic/witnesses/
zk_cred_logic/*.sym
zk_cred_logic/*.r1cs
zk_cred_logic/*.wasm
zk_cred_logic/input.json
zk_cred_logic/verification_key.json
zk_cred_logic/proof.json
zk_cred_logic/public.json
zk_cred_logic/*.wtns
zk_cred_logic/*.ptau
zk_cred_logic/*.zkey

cold_start_logic/circomlib/
cold_start_logic/*_cpp/
cold_start_logic/*_js/
cold_start_logic/ecdsa/
cold_start_logic/proofs/
cold_start_logic/publics/
cold_start_logic/witnesses/
cold_start_logic/*.sym
cold_start_logic/*.r1cs
cold_start_logic/*.wasm

cold_start_logic/input.json
cold_start_logic/verification_key.json
cold_start_logic/proof.json
cold_start_logic/public.json
cold_start_logic/*.wtns
cold_start_logic/*.ptau
cold_start_logic/*.zkey

circomlib/
geohash_logic/build/

# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# TypeScript
*.tsbuildinfo 

*.js
!test_cold_start.js
!test_circom_state.js
!server.js
!zk_cred_logic/experiments/experiment_runner.js

*-checkpoint.ipynb
*/node_modules/*

rappor_logic/circomlib/
rappor_logic/*_cpp/
rappor_logic/*_js/
rappor_logic/ecdsa/
rappor_logic/proofs/
rappor_logic/publics/
rappor_logic/witnesses/
rappor_logic/*.sym
rappor_logic/*.r1cs
rappor_logic/*.wasm

rappor_logic/input.json
rappor_logic/verification_key.json
rappor_logic/proof.json
rappor_logic/public.json
rappor_logic/*.wtns
rappor_logic/*.ptau
rappor_logic/*.zkey